#immi{
    padding: 10%;
    /* top: 500px; */
}

.bg{
    background-image: url(../assets/images/immi.svg);
    background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
    opacity: 80%;
}